<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sobre o App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1>InfoAutoBR</h1>
  <p>Aplicativo desenvolvido para a disciplina POO aplicada do curso Bacharelado em Sistemas de Informaçãoes do IFF</p>
  <p>O aplicativo utiliza informações das bases de dados do <b>SINESP</b> e da <b>FIPE</b></p>
  <p>
    Desenvolvido por:<br>
    <b>Vilmar Rangel de Araujo Junior</b>
  </p>
  <ion-button href="https://github.com/vraj2611/InfoAuto" target="_blank">
    <ion-icon name="logo-github"></ion-icon>&nbsp;Github
  </ion-button>
</ion-content>