<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button routerLink="/">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sobre o App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card color="light">
    <ion-card-header>
      <h1>InfoAutoBR</h1>
    </ion-card-header>
    <ion-card-content>
      Aplicativo desenvolvido para a disciplina POO aplicada do curso Bacharelado em Sistemas de Informaçãoes do IFF.
      <br><br>
      O aplicativo utiliza informações das bases de dados do <b>SINESP</b> e da <b>FIPE</b>
      <br><br>
      Desenvolvido por:<br>
      <b>Vilmar Rangel de Araujo Junior</b>
      <br><br>
      <ion-button expand="block" href="https://github.com/vraj2611/InfoAuto" target="_blank">
        <ion-icon name="logo-github"></ion-icon>&nbsp;Github
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>