<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Início
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class="welcome-card">
		<ion-card-header>
			<ion-card-title>Bem-vindo ao InfoAuto</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<p>Esse aplicativo tem o objetivo de mostrar o valor de mercado do carro, apurado pela FIPE.</p>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Buscar por Placa</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-input type="text" placeholder="ABC1234"></ion-input>
			</ion-item>
			<button ion-button full>BUSCAR</button>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Buscar por Modelo</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-item>
				<ion-input type="text" placeholder="Fabricante"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="Modelo"></ion-input>
			</ion-item>
			<ion-item>
				<ion-input type="text" placeholder="Ano"></ion-input>
			</ion-item>
			<button ion-button block>BUSCAR</button>
		</ion-card-content>
	</ion-card>
</ion-content>